<div class="container">
  <form #f="ngForm" (ngSubmit)="salvar(f)">
  <div class="ui-g">
         <div class="ui-g-12">
            <h1>Pessoas</h1>
         </div>
         <div class="ui-g-12 ui-fluid">
           <label>Nome </label>
           <input pInputText type="text" name="nome" #nome="ngModel" [(ngModel)]="pessoa.nome"
           required  >
               <div *ngIf="nome.hasError('required') && nome.dirty" class="ui message ui-messages-error">Informe seu nome</div>
          </div>
         <div class="ui-g-12 ui-fluid">
            <label>Nome da Mãe</label>
            <input pInputText type="text" name="nomeMae"  #nomeMae="ngModel" [(ngModel)]="pessoa.nomeMae"
            required  >
                 <div *ngIf="nomeMae.hasError('required') && nomeMae.dirty" class="ui message ui-messages-error">Informe o nome da sua mãe</div>
          
         </div>
         <div class="ui-g-12 ui-fluid">
             <label>Nome do Pai</label>
             <input pInputText type="text"  name="nomePai"  #nomePai="ngModel" [(ngModel)]="pessoa.nomePai"
             required >
             <div *ngIf="nomePai.hasError('required') && nomePai.dirty" class="ui message ui-messages-error">Informe o nome da sua mãe</div>
         </div>
         <div class="ui-g-12 ui-fluid">
           <label>Data de Aniversário</label>
            <p-calendar dateFormat="dd/mm/yy" name="dataAniversario" [inline]="false"
            [readonlyInput]="false" [showIcon]="true" [(ngModel)]="pessoa.dataAniversario"> </p-calendar>
          </div>
          <div class="ui-g-4">
            <button pButton type="submit" label="Cadastrar" ></button>
           </div>
          
  </div>
  </form>
  
    <div class="ui-g">
      <div class="ui-g-12">
          <p-dataTable [value]="pessoas" [paginator]="true" [rows]="5" [responsive]="true" #tabela>
              <p-column field="nome" header="Nome"></p-column>
              <p-column field="nomeMae" header="Mãe"></p-column>
              <p-column field="nomePai" header="Pai"></p-column>
              <p-column field="dataAniversario" header="Data de aniversário" styleClass="col-data">
          
                  <ng-template let-p = "rowData" pTemplate="body">
                      <span>{{p.dataAniversario | date: 'dd/MM/y'}}</span>
                  </ng-template>
          
          
              </p-column>
              <p-column styleClass="col-acoes">
                <ng-template let-p="rowData" pTemplate="body">
                  <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" (click)="editar(p)" [routerLink]="['/pessoas/editar',p.id]"></button>
                  <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(p)"
                  > </button>
                </ng-template>
              </p-column>
              
            </p-dataTable>
      </div>
    </div>
    </div>